@import url('reset.css');

:root {
}

* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.elp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100vh;
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
}
